<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <legend class="text-center">Iniciar Sesion</legend>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Correo Electronico" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block"> Login </button>
                </form>
            </div>
            <div class="form-group mt-2">
                <p class="text-center">
                    Usted desea crear una cuenta?
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active">  Crear una nueva cuenta</a>
                </p>
            </div>
        </div>
    </div>
</div>